<!doctype html>
{% assign current_lang = page.lang | default: 'zh' %}
{% assign t = site.data.i18n[current_lang] %}
<html lang="{% if current_lang == 'en' %}en{% else %}zh-CN{% endif %}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <a class="skip-link" href="#content">{{ t.common.skip_to_content }}</a>
    <header class="topbar">
      <div class="topbar-inner">{% include nav.html %}</div>
    </header>
    <div class="site-shell">
      {% include profile.html %}
      <main id="content" class="content" tabindex="-1">
        {{ content }}
        {% include footer.html %}
      </main>
    </div>
  </body>
</html>
